* {
  font-family: "Noto Sans", sans-serif;
}

.logo {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 200px;
}

.white__logo__word {
  color: white;
}

.blue__logo__word {
  color: #3e91f2;
}

.searchBox {
  text-align: center;
  margin-top: 17%;

}

.search__input {
  background-color: white;
  padding: 13px 16px;
  font-weight: 700;
  color: #000;
  border-radius: 5px 0px 0px 5px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.search__button {
  background-color: #3e91f2;
  padding: 13px 13px 12px 13px;
  margin-left: -4px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-radius: 0px 5px 5px 0px;
}

.footer {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    position: fixed;
    text-align: center;
    bottom: 1%;
    width: 100%;
    color: #666666;
}

textarea:focus, input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

.table-contents {
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
}

.table-headers {
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: solid white 1px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.hidden {
    display: none;
}

.table-button {
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    color: gray;
    background-color: #2c2c2c;
    border: solid dimgray 1px;
    float: left;
    cursor: pointer;
    border-radius: 5px;
}

td,
th {
    white-space: nowrap;
}

table {
    float: left;
}

tr {
    line-height: 30px;
}

tr:nth-child(odd) {
    background-color: #202020;
}

tr:nth-child(even) {
    background-color: #2c2c2c;
}