lib/credentials/config.js
amp.js
node_modules
config.js
test.js
.eslintrc.json
.vscode
data/aliases.json
data/temp_api_restarting.txt
data/temp_api_uptime.txt
.idea/workspace.xml
.idea/discord.xml
.idea/.name
.idea/vcs.xml
