

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.button1 {
    color: white;
}

.commands:link,
.commands:visited {
    text-decoration: none;
}

.animate-bottom {
    vertical-align: middle;
    text-align: center;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
    margin-top: 10%;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.button1:hover {
    transform: scale(1.11, 1.11);
    transition-duration: 0.3s;
}

