body {
    background-color: #1a1a1a;
}

.font {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 24px;
}

.top-text {
    text-align: center;
    margin-top: 10vh;
    line-height: 32px;
}

.bttn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;

    width: 285px;
    height: 40px;

    border-radius: 10px;
}

.lastfm {
    background: #D51007;
}

.spotify {
    background: #1DB954;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-item + .flex-item {
    margin-left: 10px;
}

.inputtext {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    vertical-align: middle;
}

.footer-text {
    color: gray;
    font-family: 'Noto Sans', sans-serif;
}

.footer-div {
    text-align: center;
}

a:hover {
    transition-duration: 0.5s;
    filter: brightness(70%);
}

a:not(hover) {
    transition-duration: 0.5s;
}