.table-contents {
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
}

.table-headers {
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: solid white 1px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.hidden {
    display: none;
}

.table-button {
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    color: gray;
    background-color: #2c2c2c;
    border: solid dimgray 1px;
    float: left;
    cursor: pointer;
    border-radius: 5px;
}

td,
th {
    white-space: nowrap;
}

table {
    float: left;
}

tr {
    line-height: 30px;
}

tr:nth-child(odd) {
    background-color: #202020;
}

tr:nth-child(even) {
    background-color: #2c2c2c;
}